module.exports = {
    server: 'irc.freenode.net',
    nick: 'astrobot',
    options: {
	userName: 'AstroBot',
	realName: 'AstroBot',
	port: 6667,
	debug: false,
	showErrors: false,
	autoRejoin: true,
	autoConnect: true,
	channels: ['#space'],
	secure: false,
	selfSigned: false,
	floodProtection: true,
	stripColors: false,
    },
    redisPub: 'astrobot-fromIRC',
    redisSub: 'astrobot-toIRC',
};
